In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([71, 84, 56, 23, 89, 36, 67])

In [3]:
type(s1)

pandas.core.series.Series

In [4]:
print(s1)

0    71
1    84
2    56
3    23
4    89
5    36
6    67
dtype: int64

In [5]:
s2 = pd.Series([71, 84, 56, 23, 89, 36, 67], index = ["Harry", "Shubh", "Rohan", "Aakash", "Divya", "Arjun", "Arsh"])

In [6]:
print(s2)

Harry     71
Shubh     84
Rohan     56
Aakash    23
Divya     89
Arjun     36
Arsh      67
dtype: int64

In [7]:
data = {
    "name" : ["Alice", "Bob", "Charlie"],
    "age" : [25, 30, 35],
    "city" : ["Delhi", "Mumbai", "Bangalore"]
}

In [8]:
df1 = pd.DataFrame(data)
print(df1)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [9]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
df1.columns

Index(['name', 'age', 'city'], dtype='object')