In [1]:
import pandas as pd

In [2]:
data = [["Arjun", 67], ["Divya", 100], ["Arsh", 0], ["Master", 11]]

In [3]:
print(data)

[['Arjun', 67], ['Divya', 100], ['Arsh', 0], ['Master', 11]]

In [4]:
df = pd.DataFrame(data, columns = ["Name", "Marks"])

In [5]:
print(df)

     Name  Marks
0   Arjun     67
1   Divya    100
2    Arsh      0
3  Master     11

In [6]:
data = {"a" : [4, 6, 3], "b" : [56, 34, 343]}

In [7]:
print(data)

{'a': [4, 6, 3], 'b': [56, 34, 343]}

In [8]:
df = pd.DataFrame(data)

In [9]:
print(df)

   a    b
0  4   56
1  6   34
2  3  343

In [10]:
import numpy as np

In [11]:
arr = np.array([[1, 2], [5, 6]])

In [12]:
df = pd.DataFrame(arr, columns = ["A", "B"])
print(df)

   A  B
0  1  2
1  5  6

In [13]:
df = pd.read_csv("/home/grinder/Documents/data.csv")
print(df)

      Name  School  Marks
0  Shubham     SPS     34
1   Joshua     UPS     45
2     Jack     WPS     45
3     Alex     UIS     67
4  Jasmine     RTS     45
5    Rohan     RRY     88
6    Rishi  Luxury     77
7   Aakash     BBL     90

In [14]:
df = pd.read_json("/home/grinder/Documents/data.json")
print(df)

    name     lang
0  Harry  Python
1  Harry  Python

In [15]:
df = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
print(df)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [16]:
print(df.head())

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [17]:
print(df.tail())

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [18]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB
None

In [19]:
print(df.describe())

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [20]:
print(df.columns)

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [21]:
print(df.shape)

(149, 5)